body{
    font-family: Arial;
}
#main-heading{
text-align: center;
}
.grid-container{
   display: grid; 
   grid-template-columns: 200px 150px 100px;
   margin-top: 10px;
   column-gap: 10px;
   row-gap: 10px;
   justify-content: center;
   align-items: center;
}
#todo-input, #todo-date{
    font-size: 15px;
    padding :10px 5px
}
.delete-btn{
 background-color: darkred;
 color: white;
 padding: 10px 5px;
 border-radius: 10px;
}
.add-btn{
    background-color:green;
 color: white;
  border: none;
  padding: 10px 5px;
 border-radius: 10px;
}